.cs-date{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    font-feature-settings: "tnum" on, "onum" on;
    color: black;
    // position: absolute;
    width: 423px;
    height: 48px;
    // left: 1500px;
    // top: 51px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    width: 3600px;
    height: 1150px;
    position: relative;
    gap: 70px;
    top: 160px;
    align-items: stretch;

    .head{
        font-weight: 600;
        font-size: 60px;
        // line-height: 72.61px;
        // position: absolute;
    }
}

.flex-grow-1{
    flex: 1 1 auto !important;
}

.flex-grow-2{
    flex: 20 20 auto !important;
}

.card-container{
    display: flex;
    flex: 1 1 auto;
    width: 850px;
    height: 100%;
    p{
        margin: 10px;
        font-size: 60px;
    }
}

.full-flex{
    flex: 1 1 auto;
}

.subtitle{
    font-size: 40px !important;
}

.metric-card-module__ops-metric-card___-OHnp {
    border-radius: 20px !important;
}