@import './variables.scss';

.card{
    background-color: white;
    position: absolute; 
}

.card-header{
    position: absolute;
    width: 755px;
    height: 73px;
    left: 46px;
    top: 38px;
    p{
        margin: 0;
        font-weight: 600;
        font-size: 60px;
        line-height: 72.61px;
    }
    
}

.cbi{
    box-sizing: border-box;
    position: absolute;
    width: 873px;
    height: 1125px;
    left: 44px;
    top: 160px;

    
    /* Greyscale/100 */
    
    background: #FFFFFF;
    /* Greyscale/300 */
    
    border: 3px solid #E3E3E3;
    border-radius: 20px;

}

.cs{
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    width: 1968px;
    height: 1125px;
    left: 987px;
    top: 160px;
    
    /* Greyscale/100 */
    
    background: #FFFFFF;
    /* Greyscale/300 */
    
    border: 3px solid #E3E3E3;
    border-radius: 20px;

}

.upl{
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    width: 778px;
    height: 1125px;
    left: 2992px;
    top: 160px;
    
    /* Greyscale/100 */
    
    background: #FFFFFF;
    /* Greyscale/300 */
    
    border: 3px solid #E3E3E3;
    border-radius: 20px;

}