@import './variables.scss';

.card{
    background-color: white;
    position: absolute;
    
}

.cbi{
    width: $width-755;
    height: $height-73;
    left: $left-90;
    top: $top-198;

}

.cs{
    width: $width-755;
    height: $height-73;
    left: $left-90;
    top: $top-198;

}

.upl{
    width: 900px;
    height: $height-73;
    left: $left-90;
    top: $top-198;

}