.line{
    background-color: #e3e3e3;
    height: 4px;
}

.cbi-line{
    width: 780px;
    position: absolute;
    left: 46px;
    top: 141px;
}

.cs-line{
    width: 1906px;
    position: absolute;
    left: 40px;
    top: 137px
}

.ul-line{
    width: 693px;
    position: absolute;
    left: 48px;
    top: 141px;
}